
<navbar class="navbar">
    <h2> My <span> dairy</span></h2>
    <i class="fas fa-bars" id="menu"></i> <!--cant give another class name when we are using font-awesonme classes-->
    <nav class="nav">
      
        <a href="/home">home</a>
        <a href="/about">about</a>
        <a href="/dairy">go to dairy</a>
    </nav>

</navbar>